name: Build & Deploy

on:
  workflow_call:
    inputs:
      cr-host:
        required: false
        type: string
        default: "docker.io"
        description: "Container registry hostname"
      cr-login:
        required: false
        type: string
        default: "providus"
        description: "Username for container registry"
      build-context:
        required: false
        type: string
        default: "."
        description: "Build context for docker build"
      dockerfile:
        required: false
        type: string
        default: "Dockerfile"
        description: "Path to Dockerfile"
      image-name:
        required: true
        type: string
        description: "Name of the image, format quay.io/providus/tenant-service or just providus/tenant-service"
      argocd-host:
        required: true
        type: string
        description: "ArgoCD hostname"
      argocd-version:
        required: false
        type: string
        description: "ArgoCD binary version"
        default: "2.11.7"
      tenant:
        required: true
        type: string
        description: "Tenant name"
      app-name:
        required: true
        type: string
      sonar-host:
        required: false
        type: string
        default: "https://sonarqube.infra.providus.rs/"
        description: "Address of sonar scanner"
      sonar-scanner-version:
        required: false
        type: string
        description: "Version of sonar scanner"
        default: "6.2.1.4610"
      env-name:
        required: false
        type: string
        default: "dev"
        description: "Environment name"
      runner-label:
        required: false
        type: string
        default: "ubuntu-24.04"
        description: "Runner name or label where to run"
      debug:
        required: false
        type: boolean
        default: false
      test-report-path:
        required: false
        type: string
        default: "target/surefire-reports/**/TEST-*.xml"
        description: "Path to test report files"
      test-report-type:
        required: false
        type: string
        default: "java-junit"
        description: "Type of test report files"
      scan-image:
        required: false
        type: boolean
        description: "Enable image vulnerability scanning"
    secrets:
      cr-pass:
        required: true
        description: "Registry token"
      argocd-token:
        required: true
        description: "ArgoCD token"
      sonar-token:
        required: false
        description: "Sonar token"
      snyk-token:
        required: false
        description: "Snyk token"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  prepare:
    runs-on: ${{ inputs.runner-label }}
    outputs:
      repo_name: ${{ steps.prepare.outputs.repo_name }}
      sonar: ${{ steps.prepare.outputs.sonar }}
      scan-image: ${{ steps.prepare.outputs.scan-image }}
      type: ${{ steps.prepare.outputs.type }}
      framework_version: ${{ steps.prepare.outputs.framework_version }}
      sha_short: ${{ steps.prepare.outputs.sha_short }}
      app_version: ${{ steps.prepare.outputs.version }}
    steps:
      - uses: actions/checkout@v5
      - name: Prepare
        id: prepare
        shell: bash
        run: |
          sudo rm -f /var/lib/man-db/auto-update
          SONAR_TOKEN="${{ secrets.sonar-token }}"
          SCAN_IMAGE="${{ inputs.scan-image }}"
          echo "sha_short=$(git rev-parse --short HEAD)"                    >> $GITHUB_OUTPUT 
          echo "repo_name=$(echo ${{ github.repository }} | cut -f2 -d/ )"  >> $GITHUB_OUTPUT
          if [[ -n "$SONAR_TOKEN" ]]; then
            echo "sonar=true"   >> $GITHUB_OUTPUT
          fi
          if [[ -n "$SCAN_IMAGE" ]]; then
            echo "scan-image=true"   >> $GITHUB_OUTPUT
          fi
          if ls ${{ inputs.build-context }}/*.csproj >/dev/null 2>&1; then
            echo "Detected: DotNet"; 
            echo "type=dotnet"                                                            >> $GITHUB_OUTPUT
            echo "framework_version=$(cat ${{ inputs.build-context }}/.dotnet-version)"   >> $GITHUB_OUTPUT
            echo "version=$(cat ${{ inputs.build-context }}/.version)"                    >> $GITHUB_OUTPUT
          fi
          if ls ${{ inputs.build-context }}/package.json >/dev/null 2>&1; then
            echo "Detected: NodeJS"; 
            echo "type=nodejs"                                                                  >> $GITHUB_OUTPUT
            echo "framework_version=$(cat ${{ inputs.build-context }}/.nodejs-version)"         >> $GITHUB_OUTPUT
            echo "version=$(jq --raw-output .version ${{ inputs.build-context }}/package.json)" >> $GITHUB_OUTPUT
          fi
          if ls ${{ inputs.build-context }}/pom.xml >/dev/null 2>&1; then
            sudo apt-get -y -qq install xq
            echo "Detected: Java"; 
            echo "type=java"                                                                  >> $GITHUB_OUTPUT
            echo "framework_version=$(cat ${{ inputs.build-context }}/.java-version)"         >> $GITHUB_OUTPUT
            echo "version=$(cat ${{ inputs.build-context }}/pom.xml|xq -x /project/version)"  >> $GITHUB_OUTPUT
          fi
          if ls ${{ inputs.build-context }}/requirements.txt >/dev/null 2>&1; then
            echo "Detected: Python";
            echo "type=python"                                          >> $GITHUB_OUTPUT
            echo "version=$(cat ${{ inputs.build-context }}/.version)"  >> $GITHUB_OUTPUT
          fi


  scan-code:
    runs-on: ${{ inputs.runner-label }}
    needs: [prepare]
    if: ${{ needs.prepare.outputs.sonar }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-dotnet@v4
        if: ${{ needs.prepare.outputs.type == 'dotnet' }}
        with:
          dotnet-version: ${{ needs.prepare.outputs.framework_version }}
      - name: "Run SonarQube scan (dotnet)"
        if: ${{ needs.prepare.outputs.type == 'dotnet' }}
        shell: bash
        run: |
          cd ${{ inputs.build-context }}
          dotnet tool install --global dotnet-sonarscanner --version 5.15.0
          dotnet sonarscanner begin \
            -k:${{ needs.prepare.outputs.repo_name }} \
            -d:sonar.host.url=${{ inputs.sonar-host }} \
            -d:sonar.login=${{ secrets.sonar-token }} \
            -v:${{ needs.prepare.outputs.app_version }}
          dotnet build
          dotnet sonarscanner end -d:sonar.login=${{ secrets.sonar-token }}
          echo "SONAR=completed" >> $GITHUB_ENV
      - uses: actions/setup-java@v5
        if: ${{ needs.prepare.outputs.type == 'java' }}
        with:
          distribution: temurin
          java-version: ${{ needs.prepare.outputs.framework_version }}
      - name: "Run SonarQube scan (java)"
        if: ${{ needs.prepare.outputs.type == 'java' }}
        shell: bash
        run: |
          cd ${{ inputs.build-context }}
          export SONAR_TOKEN=${{ secrets.sonar-token }}
          export SONAR_HOST_URL=${{ inputs.sonar-host }}
          mvn verify org.sonarsource.scanner.maven:sonar-maven-plugin:5.2.0.4988:sonar \
            --no-transfer-progress --batch-mode --quiet
          echo "SONAR=completed" >> $GITHUB_ENV
      - name: "Run SonarQube scan (generic)"
        if: ${{ !env.SONAR }}
        uses: sonarsource/sonarqube-scan-action@v5
        with:
          projectBaseDir: ${{ inputs.build-context }}
          scannerVersion: ${{ inputs.sonar-scanner-version }}
        env:
          SONAR_TOKEN: ${{ secrets.sonar-token }}
          SONAR_HOST_URL: ${{ inputs.sonar-host }}
      - name: "Test Report"
        uses: dorny/test-reporter@v2
        with:
          name: Test report
          path: ${{ inputs.test-report-path }}
          reporter: ${{ inputs.test-report-type }}

  build:
    runs-on: ${{ inputs.runner-label }}
    needs: [prepare]
    outputs:
      image_tag: ${{ needs.prepare.outputs.app_version }}-${{ needs.prepare.outputs.sha_short }}
    steps:
      - uses: actions/checkout@v5
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        name: "Login to ${{ inputs.cr-host }}"
        with:
          registry: ${{ inputs.cr-host }}
          username: ${{ inputs.cr-login }}
          password: ${{ secrets.cr-pass }}
      - uses: docker/build-push-action@v6
        name: "Build image"
        env:
          DOCKER_BUILD_SUMMARY: false
          DOCKER_BUILD_RECORD_UPLOAD: false
        with:
          context: ${{ inputs.build-context }}
          file: ${{ inputs.dockerfile }}
          push: false
          build-args: |
            FRAMEWORK_VERSION=${{ needs.prepare.outputs.framework_version }}
          tags: ${{ inputs.cr-host}}/${{ inputs.image-name }}:${{ needs.prepare.outputs.app_version}}-${{ needs.prepare.outputs.sha_short }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          outputs: type=docker
      - uses: aquasecurity/trivy-action@0.33.1
        name: "Run vulnerability scanner"
        if: ${{ needs.prepare.outputs.scan-image }}
        with:
          image-ref: ${{ inputs.cr-host}}/${{ inputs.image-name }}:${{ needs.prepare.outputs.app_version}}-${{ needs.prepare.outputs.sha_short }}
          hide-progress: true
          #exit-code: '1'
          #ignore-unfixed: true
          #vuln-type: 'os,library'
          severity: 'CRITICAL'
          scan-type: config
          output: trivy.txt
#      - uses: snyk/actions/docker@v1
#        if: ${{ needs.prepare.outputs.snyk }}
#        env:
#          SNYK_TOKEN: ${{ secrets.snyk-token }}
#        with:
#          image: ${{ inputs.image-name }}:${{ needs.prepare.outputs.app_version}}-${{ needs.prepare.outputs.sha_short }}
#          args: --severity-threshold=critical
      - name: "Publish Trivy Output to Summary"
        run: |
          if [[ -s trivy.txt ]]; then
            {
              echo "### Security Output"
              echo "<details><summary>Click to expand</summary>"
              echo ""
              echo '```terraform'
              cat trivy.txt
              echo '```'
              echo "</details>"
            } >> $GITHUB_STEP_SUMMARY
          fi
      - uses: docker/build-push-action@v6
        name: "Push image"
        with:
          context: ${{ inputs.build-context }}
          file: ${{ inputs.dockerfile }}
          push: true
          build-args: |
            FRAMEWORK_VERSION=${{ needs.prepare.outputs.framework_version }}
          tags: |
            ${{ inputs.cr-host }}/${{ inputs.image-name }}:${{ needs.prepare.outputs.app_version}}-${{ needs.prepare.outputs.sha_short }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  deploy:
    runs-on: ${{ inputs.runner-label }}
    needs: [prepare,build]
    steps:
      - name: Deploy ${{ matrix.target }}
        shell: bash
        env:
          ARGOCD_SERVER: ${{ inputs.argocd-host }}
          ARGOCD_AUTH_TOKEN: ${{ secrets.argocd-token }}
          ARGOCD_OPTS: "--grpc-web"
        run: |
          curl -sSLO https://github.com/argoproj/argo-cd/releases/download/v${{ inputs.argocd-version }}/argocd-linux-amd64
          sudo install -m 555 argocd* /usr/local/bin/argocd
          
          argocd app list|grep "^argocd/${{ inputs.tenant }}--${{ inputs.app-name }}--${{ inputs.env-name }}" | awk '{print $1}' | awk -F/ '{print $2}'
          
          for app in $(argocd app list|grep "^argocd/${{ inputs.tenant }}--${{ inputs.app-name }}--${{ inputs.env-name }}"|awk '{print $1}'|awk -F/ '{print $2}'); do
            argocd app set ${app} -p image.tag=${{ needs.build.outputs.image_tag }};
          done
